src/main/resources/META-INF/soa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.dongnaoedu.com/schema/soa"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dongnaoedu.com/schema/soa"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="address" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>